[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
spotipy = "*"
python-dotenv = "*"
requests = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
